body {
  color: #313131;
  background-color: #dedede;
  font-size: 16px;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;

  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #5C165F;
}

a:hover {
  color: #8E2292;
}

h1 {
  font-family: "Albert Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
  font-size: 3rem;
}

h2 {
  font-family: "Albert Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-family: "Albert Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 0;
  font-size: 1.5rem;
}

h5 {
  border-color: #9673e4;
  border-left-width: 0.2rem;
  border-left-style: solid;
  padding-left: 0.2rem;
  font-size: 1rem;

  font-family: "Albert Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #313131;
    color: #eee;
  }

  a {
    color: #F2BCF8;
  }

  a:hover {
    color: #F971FF;
  }

  h5 {
    border-color: #8d74b1;;
  }
}

.section {
  max-width: 40rem;
  text-align: justify;
}

.inside {
  margin-top: -1rem;
  margin-left: 1rem;
  font-size: 0.9rem;
}

.m-l-2 {
  margin-left: 2rem;
}
